{% extends "layout.njk" %}

    {% block header %} 
        <header>
            <div id="image-logo">
                <img src="/images/logo.png" alt="Logo">
            </div>

            <div id="links">
                <a href="/about">Sobre</a>
                <a href="/recipes">Receitas</a>
            </div>
        </header>
    {% endblock %}

    {% block boxInfo %}
        <div id="box-info">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos<br> com receitas criadas por profissionais<br> do mundo inteiro.</p>

            <img src="/images/119236-OQ05QX-268.png" alt="imagen do cozinheiro">
        </div>
    {% endblock %}

    {% block bestProducts %} 
        <div class="best-products">
            <h1>Mais acessadas</h1>
        </div> 
    {% endblock %}

    {% block cards %} 
        <section class="cards">
            {% for item in items %}
                <div class="card">
                    <div class="card_image-container">
                        <img src="{{item.image}}" alt="{{item.title}}">
                    </div>

                    <div class="card_product">
                        <p>{{item.title}}</p>
                    </div>

                    <div class="card_author">
                        <p>{{item.author}}</p>
                    </div>
                </div>
            {% endfor %}
        </section>
    {% endblock %}
 
    {% block footer %}
        <footer>
            <div class="footer">
                <p>Todos direitos reservados, receitas Foodfy.</p>
            </div>
        </footer>
    {% endblock %}

