<!DOCTYPE html>
<html lang="pt_br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

    <title>Foodfy</title>
    {% block head %} {% endblock %}
</head>

<body>

    {% block header %} {% endblock %}

    {% block boxInfo %} {% endblock %}

    {% block bestProducts %} {% endblock %}

    {% block cards %} {% endblock %}

    {% block text %} {% endblock %}

    {% block footer %} {% endblock %}

</body>

</html>