{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/recipe.css">
    <title>Receita</title>
{% endblock %}

{% block header %}
    <header>
        <div id="image-logo">
            <img src="/images/logo.png" alt="Logo">
        </div>

        <div id="links">
            <a href="/about">Sobre</a>
            <a href="/recipes">Receitas</a>
        </div>
    </header>
{% endblock %}

{% block imageContainer %}
    <div class="recipe-wraper">
        <div class="image-container">
            <img src="{{item.image}}" alt="{{item.title}}">
        </div>

        <div class="product">
            <h1>{{item.title}}</h1>
            <h4>{{item.author}}</h4>
        </div>
    </div>
{% endblock %}

{% block main %}

    <main>
        <div class="recipe-wraper">
            <div class="ingredients">
                <h3>Ingredientes</h3>
                <button class="button">MOSTRAR</button>
            </div>

            <div class="ingredients-content active">
                <ul>
                    {% for ingredients in item.ingredients %}
                        <li>{{ingredients}}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="preparation">
                <h3>Modo de preparo</h3>
                <button class="button">MOSTRAR</button>
            </div>

            <div class="preparation-content active">
                <ul>
                    {% for preparation in item.preparation %}
                        <li>{{preparation}}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="information">
                <h3>Informações adicionais</h3>
                <button class="button">MOSTRAR</button>
            </div>

            <div class="information-content active">
                <p>{{item.information}}</p>
            </div>
        </div>
    </main>

{% endblock %}

{% block footer %}
    <footer>
        <div class="footer">
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </div>
    </footer>
{% endblock %}