* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    height: 70px;
    width: 100%;
}

#image-logo {
    position: relative;
    top: 36.1px;
    left: 288px;
    width: 90.6px;
    height: 36.1px;
    color:  #111111;
}

#links {
    display: flex; 
    position: absolute;
    top: 38px;
    left: 490px;
    gap: 30px;

}

#links a {
    width: 42px;
    height: 19px;
    font-size: 16px;
    color: #111111;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

#links a:hover {
    color: chartreuse;
    transition: 200ms;
}

.text-box{
    margin: 0 auto;
    width: 940px;
    height: auto;
}

.about-foodfy {
    width: 100%;
    height: auto;
}

.about-foodfy h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 180px;
    height: auto;
    color: #111111;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.about-foodfy p {
    width: 940px;
    height: 280px;
    color: #444444;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
}

.start {
    width: 100%;
    height: auto;
}

.start h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 240px;
    height: auto;
    color: #111111;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.start p {
    margin-bottom: 30px;
    width: 940px;
    height: 280px;
    color: #444444;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
}

.our-recipes {
    width: 100%;
    height: auto;
}

.our-recipes h3 {
    width: 160px;
    height: 24px;
    color: #111111;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.our-recipes p {
    width: 940px;
    height: 112px;
    color: #444444;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}

.footer {
    width: auto;
    height: 62px;
    background-color: #EEEEEE;
}

.footer p {
    text-align: center;
    padding: 23px 566px 23px 567px;
    width: 267px;
    height: 16px;
    color: #999999;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
