* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    height: 70px;
    width: 100%;
}

#image-logo {
    position: relative;
    top: 36.1px;
    left: 288px;
    width: 90.6px;
    height: 36.1px;
    color:  #111111;
}

#links {
    display: flex; 
    position: absolute;
    top: 38px;
    left: 490px;
    gap: 30px;

}

#links a {
    width: 42px;
    height: 19px;
    font-size: 16px;
    color: #111111;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

#links a:hover {
    color: chartreuse;
    transition: 200ms;
}

#box-info {
    position: relative;
    margin: 25px auto;
    width: 940px;
    height: 366px;
    opacity: 100%;
    border-radius: 30px;
    background-color: #FBDFDB;
}

#box-info h1 {
    position: relative;
    top: 117px;
    left: 60px;
    width: 305px;
    height: 38px;
    font-size: 32px;
    color: #111111;
    font-family: 'Roboto', sans-serif;
}

#box-info p {
    position: relative;
    top: 125px;
    left: 60px;
    right: 794px;
    bottom: 117px;
    width: 316px;
    height: 84px;
    opacity: 70%;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 18px;
} 

#box-info img {
    position: absolute;
    top: 66px;
    left: 600px;
    width: 216px;
    height: 300px;
    
}

/*=== CARDS ===*/

.best-products h1 {
    position: relative;
    top: 50px;
    left: 275px;
    font-size: 24px;
    width: 174px;
    height: 28px;
    color:#111111 ;
    font-family: 'Roboto', sans-serif;
}

.cards {
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 98px;
}

.cards h1 {
    width: 174px;
    height: 28px;
    color: #111111;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.card {
    width: 300px;
    height: 200px;
    padding-bottom: 40px;
}

.card_image-container img {
    width: 100%;
    height: 140px;
    border-radius: 15px;
}

.card_product p {
    width: 100%;
    height: 21px;
    color: #111111;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.card_author p {
    width: 100%;
    height: 16px;
    color: #777777;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding-top: 5px;
}

.footer {
    width: auto;
    height: 62px;
    background-color: #EEEEEE;
}

.footer p {
    text-align: center;
    padding: 23px 566px 23px 567px;
    width: 267px;
    height: 16px;
    color: #999999;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}